body{
	font-family: 'Open Sans', sans-serif;

}

.header-connect{
	padding-top: 10px;
}
.header-call p{
	color: #666666;
}
.header-call p span{
	margin-right: 15px;
	font-weight: 300;
}
.header-call p span i{
	margin-right: 3px;
	font-size: 18px
}
.header-social ul{
	padding-top: 5px
}
.header-social ul li a{
	color: #666666;
	font-size: 14px

}
.header-social ul li a:hover{
	color: #CF6766
}
.navbar-default .navbar-nav > li > a{
	color: #202020;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	position: relative;

}
.navbar-nav > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-default .navbar-nav > li > a.active:after{

  background-color: #CF6766;
  bottom: -24px;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease 0s;
  width: 100%;
}
.navbar-default .navbar-nav > li > a::after {
background-color: #CF6766;
  bottom: -24px;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease 0s;
  width: 0%;
}
.navbar-default .navbar-nav > li > a:hover:after {
	width: 100%;
}

.navbar-nav.navbar-right:last-child{
	margin-right: 20px
}
.navbar-brand {
  padding-top: 10px;
}
.main-nav {
  padding-top: 10px;
}
.button.navbar-right {
  padding-top: 10px;
}
.nav-button {
  background-color: #c2c2c2;
  border: medium none;
  color: #fff;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 2px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav-button.login{
	background-color: #CF6766;
	margin-right: 5px;
}
.nav-button:hover{
	background-color: #CF6766;

}
.navbar{
	margin-bottom: 0px;
	min-height: 100px;
}
.navbar-default {
  background-image: none;
  background-color: #fff;
  background-repeat: repeat-x;
  border-radius: 4px;
  box-shadow: none;
}
.navbar .container{
	padding-top: 15px
}

.slider-area{
	position: relative;
	height: 630px
}
#bg-slider .item img{
	width: 100%;
	height: 630px
}

.slider-content{
	position: absolute;
	top:20%;
	left: 50%;
	margin-left: -585px;
	text-align: center;
	color: #fff
}
.slider-content h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.slider-content p {
  font-size: 14px;
  margin-bottom: 60px;
}

.slider .owl-theme .owl-controls {
	margin-top: 0px;
  position: relative;
  text-align: center;
}
.slider .owl-pagination {
  bottom: 280px;
  position: absolute;
  right: 10px;
  width: 40px;
}
.slider .owl-theme .owl-controls .owl-page span{
	background: #fff
}
.search-form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 0;
}
.form-inline .form-control, .form-inline .form-control {
  background: none repeat scroll 0 0 #eeeeee;
  border-radius: 1px;
  color: #333;
  font-style: italic;
  height: 40px;
  margin-right: 10px;
  width: 195px;
}
.form-inline input[type=submit]{
	background: #CF6766;
	color: #fff;
	height: 40px;
	width: 90px;
	border-radius: 1px;
	font-weight: bold;
	font-size: 16px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.form-inline input[type=submit]:hover{
	background: #00A2DE
}
.page-title {
	padding-top: 70px;
}
.page-title h5{
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 0
}
.page-title h2 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 5px;
  text-transform: uppercase;
}
.page-title h2 span{
	color: #00ADEF
}
.page-title p {
  color: #666666;
  line-height: 30px;
  padding: 0 25%;
  margin-top: 16px;
}

.how-it-work{
	margin: 40px 0 80px
}

.single-work{
	padding: 50px 0 70px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-bottom: 2px solid #CF6766
}
.single-work h3{
	color: #202020;
	font-size: 20px;
	font-weight: 500;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.single-work p {
  color: #666666;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  padding: 0 37px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.single-work.active{
	background: #CF6766
}
.single-work.active h3{
	color: #fff
}
.single-work.active p{
	color: #eeeeee
}
.single-work:hover{
	background: #CF6766
}
.single-work:hover h3{
	color: #fff
}
.single-work:hover p{
	color: #eeeeee
}


.nav-tabs > li > a{
	color: #666;
	font-weight: 300;
  border-width: 4px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-color: transparent transparent #CF6766;
  border-style: solid;
  border-width: 4px;
  color: #666666;
  cursor: default;
  font-weight: 700;
  outline: none;
}

.job-posting{
	padding: 60px 0
}
.job-posting .tab-content{
	margin-top: 30px
}

.tab-content ul li {
	margin-right: 14px;
	overflow: hidden;
}
.tab-content ul li:last-child{
	margin-right: 0;
}

.tab-content ul li a{
	position: relative;
}

.tab-content ul li a:hover .overlay {
	opacity: 1
}
.overlay {
  background: -webkit-linear-gradient(transparent 57%, rgba(0,0,0,1) 100%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(transparent 57%, rgba(0,0,0,1) 100%); /* FF1.6+ */
  background:     -ms-linear-gradient(transparent 57%, rgba(0,0,0,1) 100%); /* IE10 */
  background:      -o-linear-gradient(transparent 57%, rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background:         linear-gradient(transparent 57%, rgba(0,0,0,1) 100%); /* W3C */
  border-radius: 2px;
  height: 189px;
  left: 0;
  position: absolute;
  top: -82px;
  width: 98%;
  opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.overlay > h3 {
  bottom: -50px;
  margin: 0;
  position: absolute;
  left: 15px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.tab-content ul li a:hover .overlay h3{
	bottom: 20px
}

.tab-content ul.job-seeker li a .overlay{

}
.tab-content ul.job-seeker li a .overlay h3 {
  bottom: -100px;
}
.tab-content ul.job-seeker li a:hover .overlay h3 {
  bottom: 35px;
}
.tab-content ul.job-seeker li a .overlay p {
  bottom: 3px;
  color: #fff;
  font-weight: 400;
  left: -100px;
  position: absolute;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transition-delay:0.2s;
	-moz-transition-delay:0.2s;
	-ms-transition-delay:0.2s;
	-o-transition-delay:0.2s;
	transition-delay:0.2s;

}
.tab-content ul.job-seeker li a:hover .overlay p{
	left: 18px
}
.jobs{
	margin-bottom: 60px
}
.jobs{
	margin-top: 50px
}
.table tr{

	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.table tr.hide-jobs{
	display: none;
}
.table tr td h4{
	font-weight: 700;
	text-transform: capitalize;
}
.table tr td{
	padding:6px;
}
.table tr td h4 span{
	font-weight: 300;
	font-size: 14px
}
.table tr td p i{
	color: #CF6766
}
.table tr td p{
	font-size: 13px
}
.table tr td a{
	color: #fff;
	background: #CF6766;
	padding:12px 15px;
	border-radius: 5px;
	font-size: 13px;
	text-decoration: none;

	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.table tr:hover td a{
	background: #c2c2c2
}
.table tr:hover td a:hover{
	background: #fff;
	color: #CF6766
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	border-top: 0px;
	vertical-align: middle;
	padding: 15px
}
.table > tbody > tr > td.tbl-logo{
	padding-right: 0px
}
.table > tbody > tr > td.tbl-apply{
	padding-right: 10px;
	padding-left: 0px;
}
.table > tbody > tr > td.tbl-title{
	padding-left: 5px
}
.table tr.odd{
	background: #F9F9F9
}
.table tr.even{
	background: #F4FFFF
}
.table tr:hover{
	background: #CF6766;
	color: #fff
}

.more-jobs{
	margin-top: 30px
}
.more-jobs a {
  background: none repeat scroll 0 0 #d1d1d1;
  color: #666666;
  padding: 14px 22px;
  border-radius: 2px;
  display: inline-block;
}
.more-jobs i{
	margin-right: 10px;
	font-size: 16px
}


.job-add{
	/* background: url(img/job-add.png); */
	height: 500px;
}
.job-add h2 {
  color: #fff;
  font-size: 38px;
  font-weight: 800;
  margin: 0;
  padding: 305px 20px 0;
  text-transform: uppercase;
}
.job-add a {
  background: none repeat scroll 0 0 #CF6766;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin: 30px 0 0 20px;
  padding: 21px 55px;
  font-size: 15px;
}

.table-responsive {
  margin-bottom: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
.testimonial{
	position: relative;
	margin-top: 50px;
	margin-bottom: 70px;
}
.testimonial .item {
	padding-bottom: 30px;
}
.testimonial .item .client-face {
  position: absolute;
  top: 78px;
  right: 130px;
}
.client-face > img {
  border: 5px solid #fff;
  border-radius: 50%;
}
.testimonial .owl-theme .owl-controls .owl-page span{
	background: #CF6766
}
.client-text {
  background: none repeat scroll 0 0 #CF6766;
  border-radius: 2px;
  color: #fff;
  margin-left: 175px;
  padding: 20px 30px;
  width: 800px;
}
.client-text p {
  line-height: 30px;
}
.client-text h4 {
	font-size: 15px
}
.client-text h4 i{
	font-size: 13px
}

.footer-area{
	background: #000;
	border-top: 4px solid #CF6766;
	padding-bottom: 20px

}
.footer{
	padding: 0px 0 80px 0;
}
.single-footer{
	margin-top: 60px
}
.single-footer img{
	margin-bottom: 20px;
}
.single-footer p{
	color: #fff;
	line-height: 26px;
}
.single-footer h4{
	color: #fff;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 45px
}
.single-footer h5{
	color: #fff;
	margin-top: 20px;
	font-weight: 700;
}
.single-footer a{
	color: #fff;
}
.single-footer ul li{
	margin-bottom: 10px
}
.single-footer ul li a{
	color: #6d7a83;
	font-weight: 700;
}
.single-footer ul li a:hover{
	color: #CF6766;
	text-decoration: none;
}

.footer-copy{
	color: #fff;
	font-weight: 700;
}

.footer-copy span{
	margin-right: 20px;
	margin-left: 20px;
}
.footer-copy span a{
	color: #CF6766;
	font-weight: 800;
}
body {
	overflow: hidden;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(img/ajax-loader.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}




 /* ----------------- POP UP -----------------*/
	.modalDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
	}

	.modalheader {
		height:12px;
		background: #CF6766;
		margin:-9px;
		margin-left:-35px;
		margin-right:-25px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

	}

	.modalDialog:target {
		opacity:1;
		pointer-events: auto;
	}

	.modalDialog > div {
		width: 500px;
		position: relative;
		margin: 15% auto;
		padding: 5px 25px 13px 35px;
		border-radius: 10px;
		background: #fff;

	}

	.close {
		background: #999;
		color: #777;
		line-height: 25px;
		position: absolute;
		right: -12px;
		text-align: center;
		top: -10px;
		width: 24px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		-moz-box-shadow: 1px 1px 3px #000;
		-webkit-box-shadow: 1px 1px 3px #000;
		box-shadow: 1px 1px 3px #000;
	}

	.close:hover { background: #fff; }

	/* ---------- Reg Form----------- */

 input[type="text"].reg, input[type="password"], input[type="email"], select, textarea {
    background-color: #fff;
    border-color: rgba(144, 144, 144, 0.25);
    color: inherit;
	height: 3.5em;
	-moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
	font-size: 12pt;
	margin-top:3px;
	font-size:16px;
}

	.tl{width: 14%;}
	.fn{width: 33.3%;}
	.em{width: 97%;}
	.f {width:48%;}

	input:focus.reg, select:focus.reg  {
	  /* Safari */
	  outline: 2px solid #CF6766;
	  border: 2px solid #CF6766;
	}

select:focus

	/*  DROP DOWN */

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	z-index: 999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*----------------------User Profile Page------------------------*/

h3 {color:#999;text-align: center;}
.info {
	margin-top:5%;
}
.back {
	background-color:#F5F5F5;
}
#profile_header{
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-width: 0 0 4px 0;
	border-color: #CF6766;
	border-style: solid;
	margin-bottom:20px;
	margin-top:20px;
	padding: 10px 10px 10px 10px
}
#profile_sections{
	background-color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-width: 0 0 4px 0;
	border-color: ;
	border-style: solid;
	margin-bottom:20px;
	margin-top:20px;
	padding: 10px 10px 10px 10px
}

.margin-top{margin-top:5%;}
.snip1344 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 1.4em;
  background-color: #fff;
}
.snip1344 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1344 .background {
  width: 100%;
  vertical-align: top;
  opacity: 0;
  -webkit-filter: grayscale(100%) blur(10px);
  filter: grayscale(100%) blur(10px);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.snip1344 figcaption {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 70%;
}
.snip1344 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 33%;
  left: 50%;
  max-width: 200px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.snip1344 h3 {
  margin: 0 0 5px;
  font-weight: 400;
}
.snip1344 h3 span {
  display: block;
  font-size: 0.6em;
  color: #f39c12;
  opacity: 0.75;
}
.snip1344 i {
  padding: 10px 5px;
  display: inline-block;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  opacity: 0.65;
}
.snip1344 a {
  text-decoration: none;
}
/* skillbar*/
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
 .editbutton{
	background: url("../img/edit.png") no-repeat scroll 0 0 transparent;
	width:30px;
	height:30px;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	position:absolute;
	z-index: 99;
	background-size: 30px 30px;
	box-shadow: 10px 10px 5px #888888;

 }

/* save buttons  NEED TO EDIT THEM TO NOT FIDDLE WITH OTHER BUTTONS WITHIN SITE.*/


.btn1 {
    cursor:pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    border:1px solid #a6a6a6;
    border-top-color:#bdbdbd;
    border-bottom-color:#8b8a8b;

    padding:9px 14px 9px;

    color:#666666;
    font-size:11px;
    background-position:0px 0px;

    text-shadow: 0 1px 0 #fff;
    font-weight:bold;

    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e8e8)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #ffffff, #e8e8e8); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #ffffff, #e8e8e8); /* IE10 */
    background-image:      -o-linear-gradient(top, #ffffff, #e8e8e8); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #ffffff, #e8e8e8);

    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);


}

.btn1:hover {
    color:#333;
    border-color:#999;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f6f6f6)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #ffffff, #f6f6f6); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #ffffff, #f6f6f6); /* IE10 */
    background-image:      -o-linear-gradient(top, #ffffff, #f6f6f6); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #ffffff, #f6f6f6);
}
.btn1:active{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#ffffff)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e8e8e8, #ffffff); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, #e8e8e8, #ffffff); /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #e8e8e8, #ffffff); /* IE10 */
    background-image:      -o-linear-gradient(top, #e8e8e8, #ffffff); /* Opera 11.10+ */
    background-image:         linear-gradient(top, #e8e8e8, #ffffff);
}
.btn1:focus {
    outline: none;
    border-color:#BD4A39;
}


/* Follow Button Styles */

button.followButton{
    width:160px;
}
button.followButton.following{
    background-color: #57A957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57A957 #57A957 #3D773D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#fff;
}
button.followButton.unfollow{
    background-color: #C43C35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #C43C35 #C43C35 #882A25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/*----------------------about us------------------------*/

.full-width-image-1 {
	background: url(http://lorempixel.com/g/1920/500/abstract/) no-repeat center center;
	background-size: cover;
	text-align: center;
}
